@model PRO.Models.Game
    <div>
        <h1 class="main_h1 edit-info">
            <span class="h1-title">
                <span>
                    <a class="title-bar" href="/games/@Model.Id">@Model.Title</a> 
                </span>
            </span>
        </h1>
    </div>