@model PRO.Models.Review

<div class="borderDark" style="padding: 4px 0;">
    <div class="spaceit">
        <div class="mb8" style="float: right; text-align: right;">
            <div title="1:34 AM">@Model.ReviewDate</div>
            <div class="lightLink spaceit">
                Rozegrane: 20 godzin
            </div>
            <div>
                <a>Ocena: </a>10
            </div>
        </div><div style="float: left;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td valign="top" width="60">
                            <div class="picSurround">
                                <a href="#">
                                    <img src="#" border="0" class=" lazyloaded" width="48">
                                </a>
                            </div>
                        </td>
                        <td valign="top">
                            <a href="#">@Model.User.ApplicationUser.UserName</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="spaceit textReadability word-break pt8 mt8" style="clear: both; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb;">
        @Model.Content
        <a href="javascript:void(0);" id="reviewToggle349048" class="js-toggle-review-button" data-id="349048">read more</a>
    </div>
</div>
