
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="maingrid-container">
    <div class="news">
        <div class="news-container ">
            <h1 class="title"><a href="https://myanimelist.net/forum/?topicid=1852095">'Kimi to Boku no Saigo no Senjou, Aruiwa Sekai ga Hajimaru Seisen' Unveils Additional Cast, Staff, Second Promo for Fall 2020</a></h1>

            <div class="news-info-block clearfix mt16 mb20">
                <div class="sns-unit fl-r mr8"><div class="js-sns-icon-container icon-block mt0"><a data-ga-network="facebook" data-ga-screen="Share Button Location: common" class="js-share-button-popup js-share-button-tracking sprite-icon-social rect icon-social icon-facebook" target="_blank" href="http://www.facebook.com/share.php?u=https%3A%2F%2Fmyanimelist.net%2Fnews%2F60218164"></a><a data-ga-network="twitter" data-ga-screen="Share Button Location: common" class="js-share-button-popup js-share-button-tracking sprite-icon-social rect icon-social icon-twitter" target="_blank" href="http://twitter.com/share?related=MyAnimeList.net&amp;via=myanimelist&amp;url=https%3A%2F%2Fmyanimelist.net%2Fnews%2F60218164&amp;text=%27Kimi%20to%20Boku%20no%20Saigo%20no%20Senjou%2C%20Aruiwa%20Sekai%20ga%20Hajimaru%20Seisen%27%20Unveils%20Additional%20Cast%2C%20Staff%2C%20Second%20Promo%20for%20Fall%202020&amp;hashtags=MyAnimeList"></a><a data-ga-network="reddit" data-ga-screen="Share Button Location: common" class="js-share-button-popup js-share-button-tracking sprite-icon-social rect icon-social icon-reddit" target="_blank" href="http://reddit.com/submit?url=https%3A%2F%2Fmyanimelist.net%2Fnews%2F60218164&amp;title=%27Kimi%20to%20Boku%20no%20Saigo%20no%20Senjou%2C%20Aruiwa%20Sekai%20ga%20Hajimaru%20Seisen%27%20Unveils%20Additional%20Cast%2C%20Staff%2C%20Second%20Promo%20for%20Fall%202020"></a><a data-ga-network="tumblr" data-ga-screen="Share Button Location: common" class="js-share-button-popup js-share-button-tracking sprite-icon-social rect icon-social icon-tumblr" target="_blank" href="http://www.tumblr.com/share/link?url=https%3A%2F%2Fmyanimelist.net%2Fnews%2F60218164&amp;name=%27Kimi%20to%20Boku%20no%20Saigo%20no%20Senjou%2C%20Aruiwa%20Sekai%20ga%20Hajimaru%20Seisen%27%20Unveils%20Additional%20Cast%2C%20Staff%2C%20Second%20Promo%20for%20Fall%202020"></a></div></div>
                <div class="information">
                    <div class="author">by <a href="/profile/Vindstot">Vindstot</a><br>Yesterday, 8:03 PM</div>

                </div>
            </div>

            <div class="content">
                <img class="userimg img-a-r" src="https://cdn.myanimelist.net/s/common/uploaded_files/1594782174-69aedac98f14cca149fa9a2ed167a63c.jpeg">The official website of the <a href="https://myanimelist.net/anime/40595/" rel="nofollow"><i>Kimi to Boku no Saigo no Senjou, Aruiwa Sekai ga Hajimaru Seisen</i></a> (<i>Our Last Crusade or the Rise of a New World</i>) television anime revealed additional cast, staff, a second promotional video, and the theme song performers on Wednesday. The anime series adapting <a href="https://myanimelist.net/people/15333/" rel="nofollow">Kei Sazane</a>'s <a href="https://myanimelist.net/manga/106755/" rel="nofollow">action fantasy light novel</a> will premiere in October 2020.<br>
                Ishihara is also performing the opening theme "Against." Sora Amamiya, the voice actress for the heroine Aliceliese, is performing the ending theme "Koori no Torikago.Ishihara is also performing the opening theme "Against." Sora Amamiya, the voice actress for the heroine Aliceliese, is performing the ending theme "Koori no Torikago.Ishihara is also performing the opening theme "Against." Sora Amamiya, the voice actress for the heroine Aliceliese, is performing the ending theme "Koori no Torikago.Ishihara is also performing the opening theme "Against." Sora Amamiya, the voice actress for the heroine Aliceliese, is performing the ending theme "Koori no Torikago.Ishihara is also performing the opening theme "Against." Sora Amamiya, the voice actress for the heroine Aliceliese, is performing the ending theme "Koori no Torikago.Ishihara is also performing the opening theme "Against." Sora Amamiya, the voice actress for the heroine Aliceliese, is performing the ending theme "Koori no Torikago.Ishihara is also performing the opening theme "Against." Sora Amamiya, the voice actress for the heroine Aliceliese, is performing the ending theme "Koori no Torikago.Ishihara is also performing the opening theme "Against." Sora Amamiya, the voice actress for the heroine Aliceliese, is performing the ending theme "Koori no Torikago.Ishihara is also performing the opening theme "Against." Sora Amamiya, the voice actress for the heroine Aliceliese, is performing the ending theme "Koori no Torikago.Ishihara is also performing the opening theme "Against." Sora Amamiya, the voice actress for the heroine Aliceliese, is performing the ending theme "Koori no Torikago.Ishihara is also performing the opening theme "Against." Sora Amamiya, the voice actress for the heroine Aliceliese, is performing the ending theme "Koori no Torikago.
            </div>
            <br />
            <div>
                Źródło: <a href="https://moca-news.net/article/20200715/2020071512000a_/01/" target="_blank" rel="nofollow noopener noreferrer">Moca News</a>
            </div>
        </div>
        <hr />
        <div class="">
            <div class="details">
                <h2 class="">Powiązana gra: </h2><a href="#" class="tag tag-color4">Call of duty</a>
            </div>
            <div class="details">
                <h2 class="">Tagi: </h2><a href="#" class="tag tag-color4">tag1</a>
            </div>

        </div>
    </div>
    <div>
        <div class="side-list-group">
            <h3 class="sidebar-title">Najwyżej oceniane</h3>
            @for (int i = 0; i < 3; i++)
            {
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
            }

        </div>
        <br />
        @Html.Partial("_ClosestReleaseGames")
        <br />


    </div>
</div>
